Repository HienTD-glinteco/mvl-erp-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-makemessages, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.12

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-toml
    -   id: check-yaml
        args:
        -   --unsafe
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: detect-private-key  # Checks for the presence of private keys
    -   id: check-merge-conflict
    -   id: no-commit-to-branch

-   repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
    -   id: bandit
        args: ["-c", "pyproject.toml", "-r", ".", "-q"]
        additional_dependencies: ["bandit[toml]"]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: django-makemigrations
        name: Django makemigrations check
        entry: python manage.py makemigrations --check
        language: system
        pass_filenames: false
        stages: [pre-commit]
    -   id: django-makemessages
        name: Django makemessages update
        entry: python manage.py makemessages --all --no-obsolete --exclude=venv
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: '\.(py|html)$'

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
    -   id: ruff
        args:
        - --fix
    -   id: ruff-format

- repo: local
  hooks:
    - id: mypy
      name: mypy type check
      entry: poetry run mypy
      args: ["--config-file", "mypy.ini"]
      language: system
      types: [python]
      pass_filenames: false

ci:
    autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
    autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

update welcome email template, add some relation fields to Block, Bra… (#312)
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/views/employee.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/migrations/0072_block_director_branch_director_department_leader.py
  apps/hrm/models/organization.py
  apps/hrm/tests/test_employee_actions.py
  apps/hrm/tests/test_models.py
  apps/mailtemplates/constants.py
  apps/mailtemplates/tests/test_api.py
  apps/mailtemplates/tests/test_bulk_send.py
  apps/mailtemplates/tests/test_comprehensive.py
  apps/mailtemplates/tests/test_domain_actions.py
  apps/mailtemplates/tests/test_enhancements.py
  apps/mailtemplates/tests/test_services.py
  static/img/email_logo.jpg
  templates/mail/welcome.html
Due: django-makemessages, mypy

fix: test for send welcome email
  .env.test
  .env.tpl
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/serializers/employee.py
  apps/hrm/api/views/employee.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/tests/test_employee_actions.py
  apps/mailtemplates/constants.py
  locale/vi/LC_MESSAGES/django.po
  settings/base/base.py
  static/img/email_logo.jpg
Due: django-makemessages, mypy

Update/proposal return employee data (#322)
  apps/hrm/api/serializers/proposal.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/migrations/0073_alter_proposal_created_by.py
  apps/hrm/models/proposal.py
  apps/hrm/tests/test_proposal_api.py
  apps/hrm/tests/test_proposal_verifier_api.py
Due: django-makemessages, mypy

update welcome email template align logo and title (#323)
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  locale/vi/LC_MESSAGES/django.po
  templates/mail/welcome.html
Due: django-makemessages

Add flag to return all permissions (#324)
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/api/filtersets/permission.py
  apps/core/api/views/permission.py
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  locale/vi/LC_MESSAGES/django.po
Due: django-makemessages, mypy

Copilot/update recruitment employee certificate (#325)
  apps/hrm/api/serializers/employee_certificate.py
  apps/hrm/migrations/0074_update_recruitment_and_certificate_fields.py
  apps/hrm/models/employee_certificate.py
  apps/hrm/models/recruitment_request.py
  apps/hrm/tests/test_employee_certificate.py
  apps/hrm/tests/test_recruitment_request_model.py
Due: django-makemessages, mypy

update employee certificate examples (#326)
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/views/employee_certificate.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  locale/vi/LC_MESSAGES/django.po
Due: django-makemessages, mypy

Update/template for interview invite (#327)
  apps/hrm/api/views/interview_schedule.py
  apps/hrm/tests/test_interview_api.py
  apps/mailtemplates/constants.py
  templates/mail/interview_invite.html
Due: django-makemessages, mypy

update bank order (#328)
  apps/hrm/api/views/bank.py
  apps/hrm/migrations/0075_alter_bank_options.py
  apps/hrm/models/bank.py
  apps/hrm/tests/test_bank_api.py
Due: django-makemessages, mypy

Refactor
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/serializers/geolocation_attendance.py
  apps/hrm/api/views/attendance_geolocation.py
  apps/hrm/api/views/attendance_record.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/migrations/0075_update_attendance_record_model.py
  apps/hrm/migrations/0076_remove_attendancerecord_hrm_attenda_device__d1a9e3_idx_and_more.py
  apps/hrm/migrations/0076_rename_device_and_update_attendance_type.py
  apps/hrm/migrations/0077_add_postgis_location_field.py
  apps/hrm/tests/test_advanced_attendance_api.py
  apps/hrm/tests/test_attendance_models.py
  apps/hrm/tests/test_attendance_signals.py
  apps/hrm/tests/test_employee_citizen_id_tax_code.py
  apps/hrm/tests/test_recruitment_candidate_model.py
  apps/hrm/tests/test_tasks.py
  locale/vi/LC_MESSAGES/django.po
  settings/base/database.py
  settings/test.py
Due: django-makemessages, mypy

Add/model decision (#329)
  apps/hrm/admin.py
  apps/hrm/api/filtersets/__init__.py
  apps/hrm/api/filtersets/decision.py
  apps/hrm/api/serializers/__init__.py
  apps/hrm/api/serializers/decision.py
  apps/hrm/api/views/__init__.py
  apps/hrm/api/views/decision.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/migrations/0076_decision.py
  apps/hrm/models/__init__.py
  apps/hrm/models/decision.py
  apps/hrm/tests/test_decision_api.py
  apps/hrm/urls.py
Due: django-makemessages, mypy

Add GeoLocation and WiFi attendance tracking with PostGIS-powered distance sorting (#105)
  README.md
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/filtersets/attendance_geolocation.py
  apps/hrm/api/filtersets/attendance_record.py
  apps/hrm/api/serializers/__init__.py
  apps/hrm/api/serializers/attendance_record.py
  apps/hrm/api/serializers/geolocation_attendance.py
  apps/hrm/api/serializers/wifi_attendance.py
  apps/hrm/api/views/attendance_geolocation.py
  apps/hrm/api/views/attendance_record.py
  apps/hrm/constants.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/management/commands/run_realtime_attendance_listener.py
  apps/hrm/migrations/0076_remove_attendancerecord_hrm_attenda_device__d1a9e3_idx_and_more.py
  apps/hrm/models/attendance_geolocation.py
  apps/hrm/models/attendance_record.py
  apps/hrm/tasks/attendances.py
  apps/hrm/tests/test_advanced_attendance_api.py
  apps/hrm/tests/test_attendance_models.py
  apps/hrm/tests/test_attendance_record_api.py
  apps/hrm/tests/test_attendance_record_auto_code.py
  apps/hrm/tests/test_attendance_signals.py
  apps/hrm/tests/test_employee_citizen_id_tax_code.py
  apps/hrm/tests/test_recruitment_candidate_model.py
  apps/hrm/tests/test_tasks.py
  apps/hrm/utils/filters.py
  apps/hrm/utils/geolocation.py
  locale/vi/LC_MESSAGES/django.po
  settings/base/apps.py
  settings/base/database.py
  settings/test.py
Due: django-makemessages, mypy

Update github actions: add step for install GDAL
  .github/workflows/ci-cd.yml
  README.md
Due: none

Update github actions: add step for install GDAL (#106)
  .github/workflows/ci-cd.yml
  README.md
Due: none

Update github actions: add step for install GDAL
  .github/workflows/ci-cd.yml
Due: none

Fix restore cache issue
  .github/workflows/ci-cd.yml
Due: none

Update github actions
  .github/workflows/ci-cd.yml
Due: none

Fix tests
  apps/hrm/api/views/interview_schedule.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/mailtemplates/tests/test_domain_actions.py
Due: django-makemessages, mypy

Implement attendance by geolocation and wifi (#330)
  .github/workflows/ci-cd.yml
  README.md
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/filtersets/attendance_geolocation.py
  apps/hrm/api/filtersets/attendance_record.py
  apps/hrm/api/serializers/__init__.py
  apps/hrm/api/serializers/attendance_record.py
  apps/hrm/api/serializers/geolocation_attendance.py
  apps/hrm/api/serializers/wifi_attendance.py
  apps/hrm/api/views/attendance_geolocation.py
  apps/hrm/api/views/attendance_record.py
  apps/hrm/api/views/interview_schedule.py
  apps/hrm/constants.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/management/commands/run_realtime_attendance_listener.py
  apps/hrm/migrations/0077_remove_attendancerecord_hrm_attenda_device__d1a9e3_idx_and_more.py
  apps/hrm/models/attendance_geolocation.py
  apps/hrm/models/attendance_record.py
  apps/hrm/tasks/attendances.py
  apps/hrm/tests/test_advanced_attendance_api.py
  apps/hrm/tests/test_attendance_models.py
  apps/hrm/tests/test_attendance_record_api.py
  apps/hrm/tests/test_attendance_record_auto_code.py
  apps/hrm/tests/test_attendance_signals.py
  apps/hrm/tests/test_employee_citizen_id_tax_code.py
  apps/hrm/tests/test_recruitment_candidate_model.py
  apps/hrm/tests/test_tasks.py
  apps/hrm/utils/filters.py
  apps/hrm/utils/geolocation.py
  apps/mailtemplates/tests/test_domain_actions.py
  locale/vi/LC_MESSAGES/django.po
  settings/base/apps.py
  settings/base/database.py
  settings/test.py
Due: django-makemessages, mypy

Fix: migration, change model
  apps/hrm/migrations/0077_add_contract_type_fields.py
  apps/hrm/migrations/0080_alter_contracttype_options_and_more.py
  apps/hrm/models/contract_type.py
Due: django-makemessages, mypy

Enhance logic generate timesheet entries (#333)
  apps/hrm/services/timesheets.py
Due: django-makemessages, mypy

fix: test for inline confirm file, test env
  apps/hrm/tests/test_contract_type_api.py
  settings/test.py
Due: django-makemessages, mypy

Update/job description apis (#335)
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/serializers/job_description.py
  apps/hrm/api/views/job_description.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/tests/test_job_description_api.py
  locale/vi/LC_MESSAGES/django.po
  templates/documents/job_description.html
  tests/libs/export_document/test_mixins.py
Due: django-makemessages, mypy

update proposal timesheet entry complaint return id (#336)
  apps/hrm/api/serializers/proposal.py
  apps/hrm/api/views/proposal.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/models/proposal.py
  apps/hrm/tests/test_proposal_api.py
  apps/hrm/tests/test_proposal_timesheet_entry.py
Due: django-makemessages, mypy

fix: mock test
  apps/hrm/api/serializers/decision.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/tests/test_contract_type_api.py
Due: django-makemessages, mypy

Add other method for attendance report by method (#337)
  apps/hrm/api/serializers/attendance_report.py
  apps/hrm/api/views/attendance_report.py
Due: django-makemessages, mypy

Copilot/revert postgis integration again (#338)
  README.md
  apps/hrm/migrations/0077_remove_attendancerecord_hrm_attenda_device__d1a9e3_idx_and_more.py
  apps/hrm/models/attendance_geolocation.py
  apps/hrm/utils/filters.py
  settings/base/apps.py
  settings/base/database.py
  settings/local.py
  settings/test.py
Due: django-makemessages, mypy

Implement logic for calculating data for attendance reports (#339)
  .github/workflows/ci-cd.yml
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/core/locale/vi/LC_MESSAGES/django.po
  apps/hrm/api/serializers/attendance_report.py
  apps/hrm/api/views/attendance_report.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/migrations/0081_attendancedailyreport.py
  apps/hrm/models/__init__.py
  apps/hrm/models/attendance_report.py
  apps/hrm/services/attendance_report.py
  apps/hrm/signals/__init__.py
  apps/hrm/signals/attendance_report.py
  apps/hrm/tasks/__init__.py
  apps/hrm/tasks/attendance_report.py
  apps/hrm/tests/test_attendance_report_new.py
  apps/hrm/utils/functions.py
  locale/vi/LC_MESSAGES/django.po
  settings/base/celery.py
  tests/libs/export_document/test_utils.py
Due: django-makemessages, mypy

fix: mock test, fix convension
  apps/audit_logging/locale/vi/LC_MESSAGES/django.po
  apps/files/api/serializers/mixins.py
  apps/files/tests/test_file_confirm_mixin_schema_new.py
  apps/hrm/locale/vi/LC_MESSAGES/django.po
  apps/hrm/tests/test_employee_certificate.py
  apps/hrm/tests/test_job_description_api.py
  locale/vi/LC_MESSAGES/django.po
Due: django-makemessages, mypy

fix: decision attachment_ids, fix sequences
  apps/hrm/api/serializers/decision.py
  scripts/fix_sequences.py
Due: django-makemessages, mypy
